.container {
    padding-left: 20px !important;
    padding-right: 20px !important;
    text-align: left;
    position: relative;

    .content & {
        max-width: 1240px;
        position: initial;
    }

    margin: auto;

    .br-ie8 & {
        width: 1260px;
    }

    @media @desktop {
        width: 1260px;
    }

    &--full {
        width: 100%;
    }
}

.row {
    *zoom: 1;
    margin-left: -20px;
    margin-right: -20px;
    display: flex;
    flex-wrap: wrap;

    &:before,
    &:after {
        display: table;
        line-height: 0;
        content: "";
    }

    &:after {
        clear: both;
    }
    [class*="col"] {
        flex: 0 1 100%;
        min-height: 1px;
        padding: 20px;
    }

    &-main {
        margin-left: 0;
        margin-right: 0;
    }
}  

/* switching left and right column */
.row.switch [class*="col"] {

}

/*  nopadding row */
.row.nopadding [class*="col"] {
    padding: 0px;
}


/* rowcol definitions */

.row {
    .col--12 {
        flex: 0 1 100%;
        max-width: 100%;
    }

    .col--10 {
        flex: 0 1 83.33333332%;
        max-width: 83.33333332%;
    }

    .col--9 {
        flex: 0 1 75%;
        max-width: 75%;
    }

    .col--8 {
        flex: 0 1 66.66666665%;
        max-width: 66.66666665%;
    }

    .col--7 {
        flex: 0 1 58.33333332%;
        max-width: 58.33333332%;
    }

    .col--6 {
        flex: 0 1 50%;
        max-width: 50%;
    }

    .col--5 {
        flex: 0 1 41.66666665%;
        max-width: 41.66666665%;
    }

    .col--4 {
        flex: 0 1 33.33333332%;
        max-width: 33.33333332%;
    }

    .col--3 {
        flex: 0 1 25%;
        max-width: 25%;
    }

    .col--2 {
        flex: 0 1 16.66666667%;
        max-width: 16.66666667%;
    }

    .col--offset-3 {
        margin-left: 25%;
    }

    .col--offset-4 {
        margin-left: 33.33333332%;
    }

    .col--offset-5 {
        margin-left: 41.66666665%;
    }

    .col--offset-6 {
        margin-left: 50%;
    }

    .col--offset-7 {
        margin-left: 58.33333332%;
    }

    .col--offset-8 {
        margin-left: 66.66666665%;
    }

    .col--offset-9 {
        margin-left: 75%;
    }
}

/* Tablet and mobile resolution overwrite */

@media @tablet, @mobile {
    /* fixing size of the images inside grid */
    [class*="col"] > img {
        max-width: 100%;
    }
}


@media @mobile {
    .row {
        *zoom: 1;
        width: auto;
        display: block;

        [class*="col"] {
            min-height: 1px;
            padding: 20px;
            max-width: 100%;
            flex: 0 1 100%;
            display: block;
        }

        [class*="col-offset"] {
            margin-left: 0;
        }
    }

    .row.switch [class*="col"]  {
        float: none;
    }

    .row.nopadding [class*="col"]  {
        padding: 0 0 20px;
    }
}